@import 'src/styles/partials/colors';
@import 'src/styles/partials/utils';

.wrapper{
  background: $background-primary;
  height: 100%;
  min-height: 100vh;
}

.content{
  padding: 40px 32px;
  max-width: 1600px;
  margin: 0 auto;
  @include flex-center;
}